
<a class="burger">  <img src="assets/img/hamburger.png" alt="LibertyBell">  </a>
<h1>Eat-Da-Burger!</h1>

<div class="newBurgers">
  <div class="row"> 
    <div class="col-sm-3">
    </div>
    <div class="col-sm-3">
      {{!-- <h2>Eat some burgers</h2> --}}
      <ol>
        {{#each burgers}}
          {{#unless devoured}}
            <li>{{this.burger_name}}  <button class="devour" data-id={{this.id}}> Devour</button></li>
            {{!-- {{ cats/cat-block sleep=true}} --}}
          {{/unless}}
        {{/each}}
      </ol>
    </div>


    <div class="col-sm-3 pending">
      {{!-- <h2>Devoured Burgers</h2> --}}
        <ol>
          {{#each burgers}}
            {{#if devoured}}
            <li>{{this.burger_name}}  <button class="delete" data-id={{this.id}}>Check Please!</button></li>
              {{!-- {{> cats/cat-block sleep=false}} --}}
            {{/if}}
          {{/each}}
        </ol>
    </div>
    <div class="col-sm-3 ml-5">
    </div>
  </div>
</div>

    <h2>Add A Burger</h2>
    <form class="create-form">

      <div class="form-group">
        <label for="ca">Burger Name:</label>
        <input type="text" id="ca" name="name">
      </div>

      <div class="form-group">
        {{!-- <label for="slee">Devour?</label><br> --}}
         <button type="submit">Add Burger</button>
        <input type="radio" name="devour" value="0" checked hidden> <br>
        {{!-- <input type="radio" name="devour" value="1"> Devoured --}}
      </div>

      {{!-- <button type="submit">Add Burger</button> --}}
    </form>

